<h1>Listing cows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Breed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cows.each do |cow| %>
      <tr>
        <td><%= cow.name %></td>
        <td><%= cow.age %></td>
        <td><%= cow.breed %></td>
        <td><%= link_to 'Show', cow %></td>
        <td><%= link_to 'Age', age_cow_path(cow), method: :post, remote: true, format: :json, id: "age_cow_#{cow.id}" %></td>
        <td><%= button_to 'Destroy', cow, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, id: "destroy_cow_#{cow.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Add a new cow</h2>
<%= render 'form' %>

<div id="feedback_messages">
</div>

<script>
$(document).ready(function(){
  $(document).on('ajax:success', function(e, data){
    //log target explicitly so we can see it easily
    console.log(e.target);
    console.log(e);
    console.log(data);
    
  })
});
</script>